<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" sizes="32x32">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <link href='http://fonts.googleapis.com/css?family=Oxygen Mono:400,300,700' rel='stylesheet' type='text/css'>-->
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-light bg-white shadow-sm " style="z-index: 1">
      <div id="scrollableNavBar" class="container-fluid d-flex justify-content-left overflow-scroll">
          {% block nav_title %}{% endblock %}
      </div>
    </nav>

    <div id="rootContainer" class="container w-50  {% block root_container_class %}{% endblock %}" style="z-index: 0">
        {% block content %}{% endblock %}
    </div>

    {% block modals %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/utils.js" charset="utf-8"></script>
    {% block scripts %}{% endblock %}
    <script src="/static/web_friendly.js" charset="utf-8"></script>
  </body>
    <style>
<!--      body {-->
<!--        font-family: 'Oxygen Mono', sans-serif !important;-->
<!--      }-->
    </style>
</html>

<!-- Bungee -->