{% extends "base.html" %}

{% block title %}
    {{ chat.display_name }}
{% endblock %}


{% block content %}
    <ul id="messageBoard" class="list-group list-group-flush" style="max-height:100vh; overflow-y:scroll">
        <li class="list-group-item">
            <br><br><br><br>
            <div class="text-center p-2 fs-6"><strong>created</strong>: {{ chat.details.created }}</div>
        </li>
    </ul>
    <div class="form-floating mb-3">
        <input id="contentInput" type="text" class="form-control" placeholder="type a message" enterkeyhint="send" onsubmit="sendMessage()">
        <label for="contentInput">type a message</label>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="userModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-{{ user.colour }} fw-bold">{{ user.display_name }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0">
            <div class="container p-3">
                <h5 class="fw-bold">details</h5>
                <ul class="ps-3" style="margin-bottom:0;">
                  {% for key, value in chat.details.items() %}
                    <li><strong>{{ key }}</strong>: {{ value }}</a></li>
                  {% endfor %}
                </ul>
            </div>

            <hr style="margin-top:4px;margin-bottom:4px">

            <div class="container p-3">
                <h5 class="fw-bold">return link</h5>
                <p>
                    continue the chat later using your unique return link. no need to make an account.
                </p>
                <div class="form-floating">
                    <input type="text" class="form-control" id="returnLink" readonly onclick="copyToClipboard('returnLink')">
                    <label for="returnLink">return permalink</label>
                </div>
            </div>

            <hr style="margin-top:4px;margin-bottom:4px">

            <div class="container p-3">
                <h5 class="fw-bold">leave chat</h5>
                <p>
                    when you leave the chat all of your messages and user data will be deleted.
                </p>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#leaveChatModal" data-bs-dismiss="modal">leave chat</button>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="chatModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header pt-2 pb-2">
            <h3 class="modal-title fw-bold">{{ chat.display_name }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0">
            <div class="container p-3">
                <h5 class="fw-bold">details</h5>
                <ul class="ps-3" style="margin-bottom:0;">
                  {% for key, value in chat.details.items() %}
                    <li><strong>{{ key }}</strong>: {{ value }}</a></li>
                  {% endfor %}
                </ul>
            </div>

            <hr style="margin-top:4px;margin-bottom:4px">

            <div class="container p-3">
                <h5 class="fw-bold">invite others</h5>
                <div id="inviteGenerator">
                    <p>you can invite others to the chat by sending them a unique invite link.</p>
                    <button id="generateInviteButton" type="button" class="btn btn-sm btn-outline-primary w-50 mb-1" onclick="generateInvite()">generate invite</button>
                    <div id="inviteLinkForm" class="form-floating mb-3 d-none">
                        <input type="text" class="form-control" id="inviteLink" onclick="copyToClipboard('inviteLink')" readonly disabled>
                        <label for="inviteLink">invite link</label>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="leaveChatModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0 pb-0">
            <p class="p-2">
                leaving the chat will <strong>permanently</strong> and <strong>irreversibly</strong> delete your user details and messages.
                <br><br>
                are you sure?
            </p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="leave()">yes</button>
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal">no, i want to stay</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/chat.js" charset="utf-8"></script>
{% endblock %}

{% block root_container_class %}
    fixed-bottom
{% endblock %}
