{% extends "base.html" %}

{% block title %}
    http://192.168.8.191:9000
{% endblock %}

{% block content %}
    <h5 class="fw-bold">what is this?</h5>
    <ul class="ps-3" style="margin-bottom:0;">
      <li>create a new chat and invite others</li>
      <li>no need to login, just use the return link when you want to rejoin</li>
      <li>when the last person leaves the chat, it gets deleted</li>
    </ul>
    <hr>
    <h5 class="fw-bold">get started</h5>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="chatNameInput" placeholder="chat name" oninput="dynamicForm()">
      <label for="floatingInput">enter chat name</label>
    </div>
<!--    Maybe make max users a config item, not a db one-->
    <div class="form-floating mb-3">
      <input pattern="[0-9]*" type="number" id="maxUserInput" class="form-control" value="5"/>
      <label class="form-label" for="maxUserInput">max users</label>
    </div>
    <!-- inline form   -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inviteOnlyCheck" checked>
      <label class="form-check-label" for="inviteOnlyCheck">
        invite only
      </label>
    </div>
    <button type="button" id="createChatButton" class="btn btn-outline-primary mt-0" disabled onclick="createChatClick()" >create </button>
    <!-- inline form   -->
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
    <script src="/static/index.js" charset="utf-8"></script>
{% endblock %}



{% block root_container_class %}
    p-5
{% endblock %}
