{% extends "base.html" %}

{% block title %}
    join {{ title }}
{% endblock %}

{% block content %}
    <div class="form-floating m-3">
      <input id="displayNameInput" type="text" class="form-control" placeholder="enter a display name" enterkeyhint="done" onsubmit="joinButtonSubmit()">
      <label for="floatingInput">enter a display name</label>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
    <script src="/static/join.js" charset="utf-8"></script>
{% endblock %}

{% block root_container_class %}
    p-5
{% endblock %}